# Frontend
node_modules
dist
dist-ssr
*.local
.nitro
.tanstack
.wrangler
.output
.vinxi

# Backend
.venv
__pycache__
*.pyc
uploads/
backend/models/

# System
.DS_Store
.env
count.txt
todos.json
model/
*.pth
